    
        .container{
           
            background-color:rgb(241, 227, 211);
            border-radius:20px;
        }
        #box{
        border-bottom: 2px solid rgb(113, 163, 217);
        border-radius: 20px;
        border-bottom-style:groove;
        padding-left: 20px;
        margin-bottom: 20px;
        padding-bottom: 3px;
        
        }
        .box1 {
            display: flex;
            /* padding-bottom: 8px; */
            /* justify-content: space-between; */
            
        }
        .nameandetails {
            display: flex;
            flex-direction: column;
            /* border: 1px solid black; */
            width: 80%;
            padding-bottom: 10px;
        }

        .myimg {
            display: flex;
            /* border: 0px solid black; */
            display: flex;
            height: 120px;
            padding-top: 5px;
            align-self:center;
           
        }

        .box2 {
            display: flex;
            /* padding-left: 10px;
            margin-bottom: 20px; */
            justify-content: left;
            flex-direction: column;
        }
        .profqual {
            display: flex;
            flex-direction: column;
        }
        
      
    .techskill{
        padding-bottom: 6px;
    }

   
